<%= form_for(@cafeterium) do |f| %>
  <% if @cafeterium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cafeterium.errors.count, "error") %> prohibited this cafeterium from being saved:</h2>

      <ul>
      <% @cafeterium.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :open_time %><br />
    <%= f.text_field :open_time %>
  </div>
  <div class="field">
    <%= f.label :close_time %><br />
    <%= f.text_field :close_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
